/* GENERAL STYLE */

.newsDetailSection {
   margin-top: 150px;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   justify-content: space-around;
   margin-bottom: 100px;
}

.newsDetailTextAndImg {
   width: 100%;
   display: flex;
   justify-content: space-around;

}

/* TEXT CSS */
.newsDetailText {
   width: 45%;
}

.newsDetailTitle {
   text-align: left;
   font-size: 2.75em;
   margin-bottom: 50px;
}

/* IMG */
.NewsDetailImg {
   width: 50%;
   height: auto;
}

@media (max-width: 800px) {
   .newsDetailTextAndImg {
      flex-direction: column;
   }

   .NewsDetailImg {
      width: 90%;
      margin-top: 50px;
   }

   .newsDetailText {
      width: 100%;
      text-align: center;
   }
   .newsDetailTitle {
      text-align: center;
   }
}